.layout-gallery {
  position: relative;
  overflow: hidden;

  &__image-list {
    display: flex;

    &--animated {
      transition: transform 0.5s ease;
    }
  }

  &__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__arrow {
    fill: white;
    stroke: white;
  }

  &__indicator {
    position: absolute;
    left: 50%;
    bottom: 16px;

    transform: translateX(-50%);
  }
}
