@import "src/mixins";

.arrow {
  @include setElementSize;

  &__direction {
    &-up {
      transform: rotate(-90deg);
    }

    &-down {
      transform: rotate(90deg);
    }

    &-left {
      transform: rotate(180deg);
    }
  }
}
