@import "src/mixins";

.arrow {
  @include setElementSize;

  &-up {
    transform: rotate(180deg);
  }

  &-right {
    transform: rotate(-90deg);
  }

  &-left {
    transform: rotate(90deg);
  }
}
