.footer {
  display: flex;
  justify-content: space-between;

  margin-top: 24px;

  // &__navigation {
  //   .navigation {
  //     &__item {
  //       &:not(:last-child) {
  //         margin-bottom: 12px;
  //       }
  //     }
  //   }
  // }
}
