@import "src/consts.scss";

a {
  transition: opacity 0.3s ease;
  outline-color: $primary-color;
  color: $primary-color;

  &:link {
    color: $primary-color;
    text-decoration: none;
  }

  &:visited {
    color: $primary-color;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
