@import "src/design/colors.scss";

.common-button {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.button {
  background: $color_blue;
  padding: 0 16px;
  transition: opacity 0.3s ease;

  min-width: 64px;
  height: 36px;

  font-size: 0.875rem;

  border-radius: 4px;

  color: $color_white;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.3;
  }
}
