@import "src/consts.scss";

.header {
  display: flex;
  justify-content: space-between;

  padding: 24px $page-gap;

  &__navigation {
    margin-right: 24px;

    .navigation__list {
      display: flex;
    }

    .navigation {
      &__item {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }
}
