.header {
  display: flex;
  justify-content: space-between;

  padding: 24px 60px;

  &__navigation {
    .navigation__list {
      display: flex;
    }

    .navigation {
      &__item {
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
  }
}
