@import "src/design/typography.scss";
@import "src/design/colors.scss";

.home-page {
  position: relative;
  padding: 24px 60px;

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include head1;
    color: $color_white;
    z-index: 1;
    text-align: center;
  }
}
